# Imports

In [189]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, precision_score, f1_score, confusion_matrix

# Preprocessing

In [143]:
df = pd.read_csv("spam.csv", encoding='latin-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [144]:
df = df.iloc[:,0:2]
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [145]:
df = df.rename(columns={"v1":"classification","v2":"text"})
df

     classification                                               text
0               ham  Go until jurong point, crazy.. Available only ...
1               ham                      Ok lar... Joking wif u oni...
2              spam  Free entry in 2 a wkly comp to win FA Cup fina...
3               ham  U dun say so early hor... U c already then say...
4               ham  Nah I don't think he goes to usf, he lives aro...
...             ...                                                ...
5567           spam  This is the 2nd time we have tried 2 contact u...
5568            ham              Will Ì_ b going to esplanade fr home?
5569            ham  Pity, * was in mood for that. So...any other s...
5570            ham  The guy did some bitching but I acted like i'd...
5571            ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [146]:
df.head()

  classification                                               text
0            ham  Go until jurong point, crazy.. Available only ...
1            ham                      Ok lar... Joking wif u oni...
2           spam  Free entry in 2 a wkly comp to win FA Cup fina...
3            ham  U dun say so early hor... U c already then say...
4            ham  Nah I don't think he goes to usf, he lives aro...

In [173]:
labelencoder = LabelEncoder()
df['classification']= labelencoder.fit_transform(df['classification']) 
df.head()

   classification                                               text
0               0  Go until jurong point, crazy.. Available only ...
1               0                      Ok lar... Joking wif u oni...
2               1  Free entry in 2 a wkly comp to win FA Cup fina...
3               0  U dun say so early hor... U c already then say...
4               0  Nah I don't think he goes to usf, he lives aro...

# Model Building

In [177]:
x_train, x_test, y_train, y_test = train_test_split(df["text"],df["classification"], test_size=0.3)

In [178]:
cv = CountVectorizer()

In [179]:
x_train = cv.fit_transform(x_train)
x_test = cv.transform(x_test)

In [180]:
MB = MultinomialNB()

In [181]:
MB.fit(x_train, y_train)

MultinomialNB()

In [184]:
predicted = MB.predict(x_test)

In [185]:
accuracy_score(y_test, predicted)

0.9826555023923444

In [186]:
precision_score(y_test,predicted)

0.9577464788732394

In [188]:
f1_score(y_test,predicted)

0.9336384439359267

In [191]:
confusion_matrix(y_test,predicted)

array([[1439,    9],
       [  20,  204]])